@using Microsoft.AspNetCore.Identity
@using Models
@model Fiscal.ViewModels.RegisterCashDeskViewModel
@inject UserManager<User> UserManager
@inject Fiscal.Data.AppContext Context
@{
    var user = await UserManager.FindByNameAsync(User.Identity.Name);
}

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Создать кассу</h2>

<div>
    <form method="post" asp-controller="InitializeCashDesk" asp-action="RegisterCashDesk">
        <div asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="UserId" value="@user.Id" />
        <div class="form-group">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description">Description</label>
            <textarea asp-for="Description" class="form-control" placeholder="Enter description"></textarea>
            <span asp-validation-for="Description"></span>
        </div>
        <input type="submit" class="btn btn-success" value="Submit new place" />
    </form>
</div>

@section scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}