@using Fiscal
@using Microsoft.AspNetCore.Identity
@using Models
@model Fiscal.ViewModels.RegisterCashDesckViewModel
@inject UserManager<User> UserManager
@inject Fiscal.Data.AppContext Context
@{
    var user = await UserManager.FindByNameAsync(User.Identity.Name);
}

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Создать кассу</h2>

<div>
    <form method="post" enctype="multipart/form-data" asp-controller="Initialization" asp-action="RegisterCashDesk">
        <input type="hidden" asp-for="UserId" value="@user.Id" />
        <input asp-for="CashDesckName" />
        <textarea class="form-control" asp-for="Description" placeholder="Enter description"></textarea>
        <input type="submit" class="btn btn-success" value="Submit new place" />
    </form>
</div>
