<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - MVC_Fiscal</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/287d7e0b34.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/mdb.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body class="wrapper">


<!--Main Navigation-->
<header>
    <nav class="navbar navbar-expand-lg navbar-dark black">
        <div class="container">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <strong>Fiscal</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                @* <ul class="navbar-nav mr-auto"> *@
                @*     <li class="nav-item active"> *@
                @*         <a class="nav-link" href="#">Главная <span class="sr-only">(current)</span></a> *@
                @*     </li> *@
                @* </ul> *@

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item text-left">
                        <a class="nav-link" asp-controller="Account" asp-action="Login">Войти</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!--Main Navigation-->

<main role="main" class="pb-3">
    @RenderBody()
</main>

<!-- Footer -->
<footer class="page-footer font-small blue footer">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        © 2019 Copyright: made with <i class="fas fa-heart"></i> Attractor School Students
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/bootstrap/dist/js/popper.min.js"></script>
<script src="~/lib/bootstrap/dist/js/mdb.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
</body>
</html>