@{
    ViewData["Title"] = "Главная";
}

@if (User.IsInRole("user"))
{
    <div id="cube-loader" style="display: none">
        <div class="caption">
            <div class="cube-loader">
                <div class="cube loader-1"></div>
                <div class="cube loader-2"></div>
                <div class="cube loader-4"></div>
                <div class="cube loader-3"></div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-around align-items-stretch">
        <div class="col-sm-5 border py-4 ml-3">
            <form class="form-inline my-3">
                <div class="form-group">
                    <select style="max-width: 294px" class="form-control">
                        <option>9</option>
                        <option>8</option>
                        <option>8</option>
                        <option>9</option>
                        <option>5</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary ml-2">Получить отчет</button>
            </form>

            <ul class="list-group">
                <li class="list-group-item active">X - Report</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>

        <div class="col-sm-5 border py-4 mr-3">

            <form class="form-inline my-3">
                <div class="form-group">
                    <select style="max-width: 294px" class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary ml-2">Получить отчет</button>
            </form>

            <ul class="list-group">
                <li class="list-group-item active">Z - Report</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </div>
}